.main-header {
    a.logo {
        float: left;
        width: 200px;
        height: 200px;
        display: inline-block;
        background: url("/images/logo.png") no-repeat top left;
        background-size: 200px 200px;
    }

    .titles {
        padding-top: 50px;

        h2 {
            color: rgb(40, 51, 60);
        }
    }
}
